@charset "UTF-8";
@import "style.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  display: inline-block;
}

@keyframes pulse {
  0% {
    opacity: 100;
  }
  50% {
    transform: scale(1.2);
    opacity: 100;
    border-radius: 20px;
  }
}
@font-face {
  font-family: "cera_prolight";
  src: url("../fonts/cerapro-light-webfont.eot");
  src: url("../fonts/cerapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-light-webfont.woff2") format("woff2"), url("../fonts/cerapro-light-webfont.woff") format("woff"), url("../fonts/cerapro-light-webfont.ttf") format("truetype"), url("../fonts/cerapro-light-webfont.svg#cera_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 440px) {
  .container {
    padding: 0 10px;
    max-width: 440px;
  }
}
@media screen and (max-width: 932px) {
  .container {
    padding: 0 10px;
  }
}

header {
  padding-top: 30px;
  margin-bottom: 8px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}
header nav ul {
  display: flex;
  gap: 50px;
}
header nav li::after {
  display: block;
  width: 0;
  content: "";
  background-color: #46a358;
  height: 3px;
  margin-top: 35px;
  transition: 0.4s;
}
header nav li:hover::after {
  width: 100%;
}
header nav a {
  color: #3d3d3d;
  text-decoration: none;
  font-family: "Cera pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
header nav .dropdown li:first-of-type {
  position: relative;
}
header nav .dropdown:hover .sub_menu {
  display: flex;
}
header nav .dropdown .sub_menu {
  position: absolute;
  min-width: 188px;
  flex-direction: column;
  gap: 0;
  top: 40px;
  padding-top: 60px;
  display: none;
}
header nav .dropdown .sub_menu li {
  background-color: #edf6ee;
}
header nav .dropdown .sub_menu li::after {
  display: none;
}
header nav .dropdown .sub_menu li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding-left: 14px;
  padding-bottom: 8px;
  padding-top: 7px;
}
header nav .dropdown .sub_menu li:hover {
  background: #1a712a;
}
header nav .dropdown .sub_menu li:hover a {
  color: #fff;
  font-weight: 700;
}
header nav .dropdown .sub_menu li:last-of-type a::after {
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  background-image: url(../images/transform_main__menu.svg);
  position: absolute;
  left: 171px;
  bottom: 13px;
}
header nav .dropdown .sub_menu li:hover:last-of-type a::after {
  background-image: url(../images/transform_menu.svg);
}
header nav .dropdown .dropdown_2 .sub_menu_2 {
  position: absolute;
  min-width: 178px;
  flex-direction: column;
  top: 0;
  padding-top: 60px;
  left: 100%;
  padding-left: 2px;
  gap: 0;
  display: none;
}
header nav .dropdown .dropdown_2 .sub_menu_2 li a {
  color: #3d3d3d;
  font-weight: 400;
}
header nav .dropdown .dropdown_2 .sub_menu_2 li a::after {
  display: none;
}
header nav .dropdown .dropdown_2 .sub_menu_2 li:hover a {
  color: #fff;
  font-weight: 700;
}
header nav .dropdown_2:hover .sub_menu_2 {
  display: block;
}
@media screen and (max-width: 440px) {
  header nav {
    display: none;
  }
}
header .logo {
  margin-bottom: 17px;
}
@media screen and (max-width: 932px) {
  header .logo {
    position: relative;
    left: 7px;
  }
}
header .login {
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 7px 17px;
  background: #46a358;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: 0.6s;
  margin-bottom: 18px;
}
header .login:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
header .login::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/Logout.svg");
  margin-right: 4px;
}
@media screen and (max-width: 932px) {
  header .login {
    position: relative;
    right: 7px;
  }
}

/* POSTER____________________________________________________________________________________________________________________*/
.holder {
  margin-bottom: 26px;
}
.holder .main_block {
  display: flex;
  background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
  font-family: "Cera Pro", sans-serif;
}
.holder .main_block .main_block_content {
  margin-left: 43px;
  margin-top: 68px;
  max-width: 693px;
}
.holder .main_block .main_block_content .heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 6px;
}
.holder .main_block .main_block_content h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 6px;
}
.holder .main_block .main_block_content h1 span {
  color: #46a358;
}
.holder .main_block .main_block_content .heading_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
}
.holder .main_block .main_block_content .link_shop_now {
  font-family: "Cera pro" sans-serif;
  border-radius: 6px;
  background: #46a358;
  padding-left: 26px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  animation: pulse infinite 2s;
}
.holder .main_block .main_block_content .link_shop_now:hover {
  transform: scale(1.1);
  transition: 0.6s;
  animation-play-state: paused;
}
@media screen and (max-width: 440px) {
  .holder .main_block .main_block_content .link_shop_now:hover {
    transform: none;
    transition: none;
  }
}
@media screen and (max-width: 932px) {
  .holder .main_block .main_block_content .link_shop_now:hover {
    transform: none;
    transition: none;
  }
}
@media screen and (max-width: 440px) {
  .holder .main_block .main_block_content .link_shop_now {
    animation: none;
    position: relative;
    bottom: 25px;
    padding-left: 30px;
    padding-right: 26px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
}
@media screen and (max-width: 932px) {
  .holder .main_block .main_block_content .link_shop_now {
    animation: none;
  }
}
@media screen and (max-width: 440px) {
  .holder .main_block img {
    display: none;
  }
}

/*Main__________________________Product-sale_________________________________________________________________________________________*/
.product .container {
  display: flex;
  justify-content: space-between;
}
.product .left_side {
  max-width: 310px;
  width: 100%;
  background: #fbfbfb;
  font-family: "Cera Pro", sans-serif;
  max-height: 774px;
  height: 100%;
}
.product .left_side li {
  margin-bottom: 10px;
}
.product .left_side li:hover a {
  color: #46a358;
  font-weight: 700;
  font-size: 15px;
}
.product .left_side li a {
  font-size: 15px;
  line-height: 267%;
  font-weight: 400;
  color: #3d3d3d;
  padding-left: 30px;
}
.product .left_side .subtitle_items {
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  padding-left: 18px;
  padding-top: 14px;
  margin-bottom: 8px;
}
@media screen and (max-width: 440px) {
  .product .left_side {
    display: none;
  }
}
.product .right_side {
  max-width: 840px;
  width: 100%;
  font-family: "Cera Pro", sans-serif;
}
.product .right_side .product_sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.product .right_side .product_sort .hidden_items {
  font-size: 16px;
}
.product .right_side .product_sort ul {
  display: flex;
  gap: 39px;
}
.product .right_side .product_sort ul a {
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
}
.product .right_side .product_sort ul a:hover {
  color: #46a358;
  font-weight: 600;
  font-size: 15px;
}
.product .right_side .product_sort ul a:hover::after {
  width: 100%;
}
.product .right_side .product_sort ul a::after {
  display: block;
  width: 0;
  content: "";
  background-color: #46a358;
  height: 3px;
  margin-top: 7px;
  transition: 0.4s;
}
@media screen and (max-width: 440px) {
  .product .right_side .product_sort {
    display: none;
  }
}

.main_product_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.main_product_items article {
  max-width: 258px;
  width: 100%;
  margin-bottom: 100px;
  border-top: solid 1px transparent;
  position: relative;
}
.main_product_items article:hover {
  border-top: solid 1px #46a358;
}
.main_product_items article img {
  width: 100%;
  align-items: center;
}
.main_product_items article ul {
  display: none;
  gap: 10px;
  position: absolute;
  margin-bottom: 7px;
  top: 76%;
  transform: translate(50%, 50%);
}
.main_product_items article ul li {
  background-color: #ffffff;
  padding: 8px 8px 7px 7px;
  border-radius: 4px;
}
.main_product_items article ul li:first-of-type a:before {
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url(../images/shopping\ 1.svg);
}
.main_product_items article ul li:first-of-type a:hover::before {
  background-image: url(../images/shopping\ 1\ copy.svg);
}
.main_product_items article ul li:nth-of-type(2) a::before {
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url(../images/heart\ 1.svg);
}
.main_product_items article ul li:nth-of-type(2) a:hover::before {
  background-image: url(../images/heart\ 1\ copy.svg);
}
.main_product_items article ul li:last-of-type a::before {
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url(../images/Frame.svg);
}
.main_product_items article ul li:last-of-type a:hover::before {
  background-image: url(../images/Frame\ copy.svg);
}
.main_product_items article:hover ul {
  display: flex;
}
.main_product_items article .sale {
  position: absolute;
  background-color: #46a358;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 9px;
  left: 0;
  top: 10px;
}
.main_product_items article .card_foto_links {
  background: #fbfbfb;
  height: 300px;
  height: 100%;
  margin-bottom: 12px;
  min-height: 230px;
  padding-top: 25px;
  display: inline-flex;
  width: 258px;
}
.main_product_items article .card_foto_links .position_foto {
  position: relative;
  left: 17px;
  bottom: 13px;
}
.main_product_items .product_name_text {
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  line-height: 100%;
  margin-bottom: 8px;
}
.main_product_items .product_price_text {
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #46a358;
  font-family: "Cera Pro", sans-serif;
}
.main_product_items .product_price_text span {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  color: #a5a5a5;
  font-family: "Cera Pro", sans-serif;
  margin-left: 16px;
}
@media screen and (max-width: 440px) {
  .main_product_items {
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 932px) {
  .main_product_items {
    margin-bottom: 30px;
  }
}

/*Numbered_list_____________________________________________________________________________________________________________*/
.numbered_list ul {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-right: 26px;
}
.numbered_list ul li:last-of-type:hover .next::before {
  background-image: url(../images/items_next_white.svg);
}
.numbered_list ul li a:hover {
  background: #46a358;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.numbered_list ul li a {
  display: flex;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 94px;
}
.numbered_list ul .next::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url(../images/items_next.svg);
}
@media screen and (max-width: 440px) {
  .numbered_list {
    position: relative;
    transform: translateX(-5%);
  }
}
@media screen and (max-width: 932px) {
  .numbered_list {
    position: relative;
    transform: translateX(-5%);
  }
}

/*Content-POST_______________________________________________________________________________________________________________*/
.content_post {
  display: flex;
  justify-content: space-around;
  gap: 28px;
  margin-bottom: 138px;
}
.content_post article {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding-top: 37px;
  padding-right: 35px;
  max-width: 586px;
  width: 100%;
  height: 100%;
  max-height: 250px;
  background: #fbfbfb;
}
.content_post article img {
  position: relative;
  bottom: 62px;
  right: 15px;
  width: 100%;
}
@media screen and (max-width: 440px) {
  .content_post article img {
    width: 50%;
    top: 3px;
    right: 0;
  }
}
.content_post article .images_trends {
  position: relative;
  bottom: 53px;
  width: 100%;
}
@media screen and (max-width: 440px) {
  .content_post article .images_trends {
    width: 50%;
  }
}
@media screen and (max-width: 440px) {
  .content_post article {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 440px) {
  .content_post {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.content_post_text h4 {
  font-weight: 900;
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: right;
  color: #3d3d3d;
  margin-bottom: 9px;
}
.content_post_text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: right;
  color: #727272;
  margin-bottom: 25px;
}
.content_post_text a {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 6px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 28px;
  background: #46a358;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  margin-bottom: 46px;
}
.content_post_text a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@media screen and (max-width: 440px) {
  .content_post_text a:hover {
    transform: none;
    transition: none;
  }
}
.content_post_text a::after {
  content: "";
  display: inline-flex;
  width: 18px;
  height: 18px;
  margin-right: 27px;
  margin-left: 5px;
  background-image: url(../images/more_white.svg);
}

.title_blog {
  font-weight: 700;
  font-size: 30px;
  line-height: 53%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 15px;
}

.blog_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #727272;
  margin-bottom: 35px;
}
@media screen and (max-width: 440px) {
  .blog_text {
    font-size: 20px;
  }
}

.content_blog_post {
  display: flex;
  justify-content: space-between;
}
.content_blog_post article {
  max-width: 268px;
  background: #fbfbfb;
  margin-bottom: 100px;
}
.content_blog_post article img {
  margin-bottom: 8px;
  width: 100%;
}
@media screen and (max-width: 440px) {
  .content_blog_post article {
    max-width: 430px;
  }
}
@media screen and (max-width: 440px) {
  .content_blog_post img {
    width: 140%;
  }
}
@media screen and (max-width: 440px) {
  .content_blog_post {
    flex-direction: column;
    justify-content: none;
    gap: none;
  }
}

.content_blog_post_text {
  padding-left: 15px;
  font-family: "Cera Pro";
}
.content_blog_post_text .text_time_update {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #46a358;
  margin-bottom: 4px;
}
.content_blog_post_text h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #3d3d3d;
  margin-bottom: 4px;
  text-transform: capitalize;
}
@media screen and (max-width: 440px) {
  .content_blog_post_text h5 {
    font-size: 26px;
  }
}
.content_blog_post_text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  margin-bottom: 9px;
}
@media screen and (max-width: 440px) {
  .content_blog_post_text p {
    font-size: 20px;
  }
}
.content_blog_post_text a {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  color: #3d3d3d;
}
.content_blog_post_text a:hover {
  color: #46a358;
}
.content_blog_post_text a::after {
  content: "";
  display: inline-flex;
  align-items: center;
  margin-left: 3px;
  width: 16px;
  height: 16px;
  background-image: url(../images/more.svg);
}
@media screen and (max-width: 440px) {
  .content_blog_post_text a::after {
    display: none;
  }
}
.content_blog_post_text a:hover::after {
  background-image: url(../images/more\ —\ green.svg);
}
@media screen and (max-width: 440px) {
  .content_blog_post_text a {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid #46a358;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 440px) {
  .content_blog_post_text {
    text-align: center;
    padding-bottom: 5px;
  }
}

/*Basement-content_____________________________________________________________________________________________________________________*/
.basement_content {
  display: flex;
  background: #fbfbfb;
}
.basement_content article {
  min-width: 204px;
  min-height: 202px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 60px;
}
.basement_content article:first-of-type {
  margin-left: 25px;
  position: relative;
}
.basement_content article:first-of-type::after {
  content: "";
  display: block;
  width: 1px;
  height: 187px;
  background-image: url(../images/strow.svg);
  position: absolute;
  padding-top: 24px;
  margin-left: 30px;
  top: 0;
  left: 100%;
}
@media screen and (max-width: 440px) {
  .basement_content article:first-of-type::after {
    display: none;
    margin: none;
  }
}
.basement_content article:nth-of-type(2) {
  position: relative;
}
.basement_content article:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 1px;
  height: 187px;
  background-image: url(../images/strow.svg);
  position: absolute;
  padding-top: 24px;
  margin-left: 30px;
  top: 0;
  left: 100%;
}
@media screen and (max-width: 440px) {
  .basement_content article:nth-of-type(2)::after {
    display: none;
  }
}
.basement_content article:nth-of-type(3) {
  margin-right: 62px;
}
.basement_content article h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 94%;
  color: #3d3d3d;
  margin-bottom: 9px;
}
@media screen and (max-width: 440px) {
  .basement_content article h4 {
    position: relative;
    font-size: 26px;
    bottom: 100px;
    left: 20px;
  }
}
.basement_content article img {
  margin-bottom: 15px;
}
@media screen and (max-width: 440px) {
  .basement_content article img {
    display: flex;
    transform: translateX(350%);
  }
}
.basement_content article p {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
}
@media screen and (max-width: 440px) {
  .basement_content article p {
    position: relative;
    bottom: 70px;
    font-size: 20px;
    left: 10px;
  }
}
@media screen and (max-width: 440px) {
  .basement_content article .watering-garden {
    position: relative;
    left: -30px;
  }
}
.basement_content .content_join_with_email {
  max-width: 354px;
}
.basement_content .content_join_with_email h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 25px;
  margin-top: 24px;
}
@media screen and (max-width: 440px) {
  .basement_content .content_join_with_email h4 {
    max-width: 354px;
    font-size: 26px;
    text-align: center;
    position: relative;
    bottom: 40px;
    right: -30px;
  }
}
.basement_content .content_join_with_email input {
  padding-left: 11px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 269px;
  border: none;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  position: relative;
  margin-bottom: 18px;
}
.basement_content .content_join_with_email input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #acacac;
}
.basement_content .content_join_with_email input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #acacac;
}
@media screen and (max-width: 440px) {
  .basement_content .content_join_with_email input {
    position: relative;
    right: -30px;
    z-index: 1;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
}
.basement_content .content_join_with_email button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 0 6px 6px 0;
  background: #46a358;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #fff;
  position: absolute;
}
.basement_content .content_join_with_email button:hover {
  transform: scale(1.1);
  transition: 0.6s;
  border-radius: 6px;
}
@media screen and (max-width: 440px) {
  .basement_content .content_join_with_email button:hover {
    transform: none;
    transition: none;
    border-radius: 0 6px 6px 0;
  }
}
@media screen and (max-width: 932px) {
  .basement_content .content_join_with_email button:hover {
    transform: none;
    transition: none;
    border-radius: 0 6px 6px 0;
  }
}
@media screen and (max-width: 440px) {
  .basement_content .content_join_with_email button {
    position: absolute;
    right: 8%;
    padding-bottom: 15px;
    border-radius: 0 6px 6px 0;
  }
}
@media screen and (max-width: 932px) {
  .basement_content .content_join_with_email button {
    padding-right: 20px;
  }
}
.basement_content .content_join_with_email p {
  font-weight: 400;
  font-size: 13px;
  line-height: 169%;
  color: #727272;
}
@media screen and (max-width: 440px) {
  .basement_content .content_join_with_email p {
    font-size: 16px;
    max-width: 350px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    left: 30px;
  }
}
@media screen and (max-width: 440px) {
  .basement_content .content_join_with_email {
    max-width: 440px;
  }
}
@media screen and (max-width: 932px) {
  .basement_content .content_join_with_email {
    position: relative;
    right: 30px;
  }
}
@media screen and (max-width: 440px) {
  .basement_content .garden_care_text {
    position: relative;
    left: -5px;
  }
}
@media screen and (max-width: 440px) {
  .basement_content .garden_care_text_ {
    position: relative;
    left: -12px;
  }
}
@media screen and (max-width: 440px) {
  .basement_content {
    flex-direction: column;
    background: none;
    background: #fbfbfb;
  }
}

/*Basement-2_____________________________________________________________________________________________________________________________*/
.basement_content_floor_below {
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}
.basement_content_floor_below ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basement_content_floor_below ul li:first-of-type {
  position: relative;
  top: 6px;
  padding-left: 23px;
}
@media screen and (max-width: 440px) {
  .basement_content_floor_below ul li:first-of-type {
    position: relative;
    right: 20px;
    display: none;
  }
}
.basement_content_floor_below ul li:last-of-type {
  padding-right: 22px;
  position: relative;
  margin-top: 33px;
  margin-bottom: 33px;
}
.basement_content_floor_below ul li:last-of-type a::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/Calling.svg);
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: 8px;
  margin-top: 2px;
}
@media screen and (max-width: 440px) {
  .basement_content_floor_below ul li:last-of-type {
    position: relative;
    bottom: 39px;
    left: 15px;
  }
}
.basement_content_floor_below ul li:nth-of-type(2) {
  padding-top: 25px;
  padding-bottom: 19px;
  position: relative;
}
.basement_content_floor_below ul li:nth-of-type(2) a:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/Location.svg);
  position: absolute;
  bottom: 36%;
  right: 100%;
  margin-right: 9px;
}
@media screen and (max-width: 440px) {
  .basement_content_floor_below ul li:nth-of-type(2) {
    position: relative;
    left: 5px;
  }
}
.basement_content_floor_below ul li:nth-of-type(3) {
  position: relative;
  margin-top: 33px;
  margin-bottom: 33px;
}
.basement_content_floor_below ul li:nth-of-type(3) a::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/Message.svg);
  position: absolute;
  margin-top: 3px;
  margin-right: 10px;
  top: 0%;
  right: 100%;
}
@media screen and (max-width: 440px) {
  .basement_content_floor_below ul li:nth-of-type(3) {
    position: relative;
    bottom: 15px;
  }
}
.basement_content_floor_below ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
}
@media screen and (max-width: 440px) {
  .basement_content_floor_below ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 440px) {
  .basement_content_floor_below ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 440px) {
  .basement_content_floor_below {
    height: 220px;
  }
}

/*FOOTER____________________________________________________________________________________________________________________________________________*/
footer .container {
  display: flex;
  background: #fbfbfb;
  border-bottom: solid 1px rgba(70, 163, 88, 0.2);
}
footer .container article {
  padding-top: 33px;
}
footer .container article ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
}
footer .container article ul li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 440px) {
  footer .container article ul li a:hover {
    text-decoration: none;
  }
}
@media screen and (max-width: 440px) {
  footer .container article ul li a {
    font-size: 10px;
  }
}
footer .container article h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
}
@media screen and (max-width: 440px) {
  footer .container article h4 {
    font-size: 13px;
  }
}
footer .container .footer_content_menu_my_account {
  margin-left: 25px;
  margin-right: 164px;
  margin-bottom: 29px;
}
footer .container .footer_content_menu_my_account h4 {
  padding-bottom: 8px;
}
@media screen and (max-width: 440px) {
  footer .container .footer_content_menu_my_account {
    margin-right: 0;
    margin-right: 25px;
    margin-left: 5px;
  }
}
footer .container .footer_content_menu_help_guide {
  margin-right: 129px;
}
footer .container .footer_content_menu_help_guide h4 {
  padding-bottom: 8px;
}
@media screen and (max-width: 440px) {
  footer .container .footer_content_menu_help_guide {
    margin-right: 0;
    margin-right: 25px;
  }
}
footer .container .footer_content_menu_categories {
  margin-right: 173px;
}
footer .container .footer_content_menu_categories h4 {
  padding-bottom: 8px;
}
@media screen and (max-width: 440px) {
  footer .container .footer_content_menu_categories {
    margin-right: 0%;
    margin-right: 25px;
    display: none;
  }
}
footer .container .footer_content_social_media .subtitle_social_media {
  padding-bottom: 20px;
}
footer .container .footer_content_social_media a .social_media {
  margin-right: 5px;
  margin-bottom: 33px;
}
footer .container .footer_content_social_media a .social_media:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
@media screen and (max-width: 440px) {
  footer .container .footer_content_social_media a .social_media:hover {
    transform: none;
    transition: none;
  }
}
@media screen and (max-width: 440px) {
  footer .container .footer_content_social_media a .social_media {
    width: 25px;
  }
}
footer .container .footer_content_social_media .subtitle_we_accept {
  margin-bottom: 13px;
}
@media screen and (max-width: 440px) {
  footer .container .by_pay {
    width: 80%;
  }
}
footer .content_the_end {
  text-align: center;
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
}/*# sourceMappingURL=main.css.map */