@media only screen and (max-width: 440px) {
    .container{
        padding: 0 10px;
        max-width: 440px;
    }

    nav{
        display: none;
        /* меню бургер*/
    }

    .link_shop_now{
        animation: none;
        position: relative;
        bottom: 25px;
        /* left: 140px; */
        padding-left: 30px;
        padding-right: 26px;
        padding-top: 16px;
        padding-bottom: 13px;
    }


    .link_shop_now:hover{
        transform: none;
        transition: none;
    }
    .main_block img{
        display: none;

    }

    .left_side{
        display: none;
        /* меню бургер*/
    }
    .right_side .product_sort{
        display: none;
        
         /* меню бургер*/
    }


    .main_product_items{
        justify-content: center;
        margin-bottom: 50px;
    }

    .numbered_list{
        position: relative;
        transform: translateX(-17%);
    }

    .content_post{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .blog_text{
        font-size: 20px;
    }

    .content_post article{
        margin-bottom: 10px;
    }

    .content_post article img{
        width: 50%;
        top: 3px;
        right: 0;
    }

    .content_post_text a:hover{
    transform: none;
    transition: none ;
    }

    .content_post article .images_trends{
        width: 50%;
    }

    .content_blog_post{
        flex-direction: column;
        justify-content: none;
        gap: none;

    }

    .content_blog_post img{
        width: 140%;
    }
    .content_blog_post article{
        max-width: 430px;

    }


    .content_blog_post_text{
        text-align: center;
        padding-bottom: 5px;
    }

    .content_blog_post_text h5{
        font-size: 26px;
    }

    .content_blog_post_text p{
        font-size: 20px;
    }

    .content_blog_post_text a{
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid #46a358;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .content_blog_post_text a::after {
        display: none;
    }

    .basement_content{
        flex-direction: column;
        background: none;
        background: #fbfbfb;
    }

    .basement_content .garden_care_text{
        position: relative;
        left: -5px;
    }
    .basement_content .garden_care_text_{
        position: relative;
        left: -12px;
    }




    .basement_content article:first-of-type:after{
        display: none;
        margin: none;
        
    }

    .basement_content article:nth-of-type(2):after{
        display: none;
    }
    .basement_content article img{
        display: flex;
        transform: translateX(350%);
    }
    .basement_content article .watering-garden{
        position: relative;
        left: -30px;
    }

    .basement_content article h4{
        position: relative;
        font-size: 26px;
        bottom: 100px;
        left: 20px;
    }

    .basement_content article p{
        position: relative;
        bottom: 70px;
        font-size: 20px;
        left: 10px;
    }

    .basement_content  .content_join_with_email{
        max-width: 440px;
    }

    .basement_content  .content_join_with_email h4{
        max-width: 354px;
        font-size: 26px;
        text-align: center;
        position: relative;
        bottom: 40px;
        right: -15px;
    }
    .basement_content  .content_join_with_email input{
        position: relative;
        right: -40px;
        z-index: 1;
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .basement_content .content_join_with_email button{
        position: absolute;
        right: 5%;
        padding-bottom: 15px;
        border-radius: 0 6px 6px 0;

    }
    .basement_content .content_join_with_email button:hover{
        transform: none;
        transition: none;
        border-radius: 0 6px 6px 0;
    }

    .basement_content .content_join_with_email p{
        font-size: 16px;
        max-width: 400px;
        text-align: center;
        margin-bottom: 20px;
        position: relative;
        left: 7px;
    }

    .basement_content_floor_below ul{
        flex-direction: column;
    }


    .basement_content_floor_below ul li a{
        font-size: 16px;
    }

    .basement_content_floor_below{
        height: 220px;
    }

    .basement_content_floor_below ul li:first-of-type{
        position: relative;
        right: 20px;
        display: none;
    }


    .basement_content_floor_below ul li:nth-of-type(2){
        position: relative;
        left: 5px;
    }

    .basement_content_floor_below ul li:nth-of-type(3){
        position: relative;
        bottom: 15px;
    }

    .basement_content_floor_below ul li:last-of-type{
        position: relative;
        bottom: 39px;
        left: 15px;
    }


    footer .container article ul li a{
        font-size: 10px;
    }
    footer .container article h4{
        font-size: 13px;
    }

    footer .container .footer_content_menu_my_account{
        margin-right: 0;
        margin-right: 25px;
        margin-left: 5px;
    }    


    footer .container .footer_content_menu_help_guide{
        margin-right: 0;
        margin-right: 25px;
    }

    footer .container .footer_content_menu_categories{
        margin-right: 0%;
        margin-right: 25px;
        display: none;
    }
    footer .container .footer_content_social_media a .social_media {
        width: 25px;
    }

    footer .container .footer_content_social_media a  .social_media:hover{
        transform: none;
        transition: none ;
    }
    footer .container article ul li a:hover{
        text-decoration: none;
    }

    footer .container .by_pay{
        width: 80%;
    }
}


@media only screen and (max-width: 932px) {
    .container{
        padding: 0 10px;
    
    }
    header .logo{
        position: relative;
        left: 7px;
    }


    header .login{
     position: relative;
     right: 7px;
    }

    .link_shop_now{
        animation: none;
    }
    .link_shop_now:hover{
        transform: none;
        transition: none;
    }

    .numbered_list{
        position: relative;
        transform: translateX(-5%);
    }

    .main_product_items{
        margin-bottom: 30px;
    }

    .content_join_with_email{
        position: relative;
        right: 30px;
    }

    .basement_content .content_join_with_email button:hover{
        transform: none;
        transition: none;
        border-radius: 0 6px 6px 0;
    }
}